.buttons {
  margin-top: 2rem;
  display: flex;
}

.link {
  margin: 1rem 3rem;
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  border: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 0.5rem;
  background-color: white;
}

.link:hover,
.link:focus {
  color: rgb(125, 125, 125);
}